import React from 'react';
import logo from './logo.svg';
import './App.css';
import { BrowserRouter as Router, Routes, Route } from 'react-router-dom'


// metric status (home page)
import HeaderComponent from './components/@(Model.Name)-header';


@foreach( var obj in Model.Objects)
{
  <text>
  import @(obj.DomainObj)ListComponent from './components/@(obj.Name)-list';
  import @(obj.DomainObj)CreateComponent from './components/@(obj.Name)-create';
  </text>
}

// footer
import FooterComponent from './components/@(Model.Name)-footer';

function App() {
  return (
    <div>
        <Router>
              <HeaderComponent />
                <div className="container">
                    <Routes> 
                         <Route path= '/' element = { < OrgListComponent /> } />
                           
                          @foreach( var obj in Model.Objects) 
                          {
                            <text>
                            <Route path='/@(obj.DomainVar)' element = { &lt; @(obj.DomainObj)ListComponent /&gt; } />
                            <Route path='/add-@(obj.DomainVar)/:id' element = { &lt; @(obj.DomainObj)CreateComponent /&gt; } />
                            </text>
                          }

                    </Routes>
                </div>
              <FooterComponent />
        </Router>
    </div>
    
  );
}

export default App;
