@@*
   Authentication is DISABLED until the app stabilizes. To re-enable, wrap the
   Router in CascadingAuthenticationState and replace RouteView with an
   AuthorizeRouteView that has a NotAuthorized section rendering RedirectToLogin
   and an Authorizing section (see the .NET template / git history).
*@@
<Router AppAssembly="@@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@@routeData" DefaultLayout="@@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@@typeof(MainLayout)">
            <p role="alert">Sorry, there&apos;s nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
